<!DOCTYPE html>
<html>
<head>
    <title>GMR Notes Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<!-- TOP NAVBAR -->
<div class="topbar">
    <div class="logo">🎓 GMRIT Notes Hub</div>

    <div class="nav-links">
        <a href="/home">Home</a>
        <a href="/upload">Upload</a>
        <span id="themeToggle" onclick="toggleTheme()">🌙</span>
        <a href="/">Logout</a>
    </div>
</div>

<!-- HEADER -->
<div class="hero">
    <h1>GMR Institute of Technology</h1>
    <p>Deemed to be University</p>
</div>

<!-- MAIN CONTENT -->
<main>
    {% block content %}{% endblock %}
</main>

<!-- FOOTER -->
<footer class="footer">
    Made by <b>SRAVANI MULLU</b> |
    <a href="https://www.linkedin.com/in/sravani-m-25a53b33a/" target="_blank">
        LinkedIn Profile
    </a>
</footer>

<!-- THEME SCRIPT -->
<script>
function toggleTheme() {
    document.body.classList.toggle("dark");

    const icon = document.getElementById("themeToggle");

    if (document.body.classList.contains("dark")) {
        icon.textContent = "🌞";
        localStorage.setItem("theme", "dark");
    } else {
        icon.textContent = "🌙";
        localStorage.setItem("theme", "light");
    }
}

window.onload = () => {
    const icon = document.getElementById("themeToggle");

    if (localStorage.getItem("theme") === "dark") {
        document.body.classList.add("dark");
        icon.textContent = "🌞";
    }
};
</script>

</body>
</html>