{% extends "base.html" %}
{% block content %}
<h1 class="welcome-title">📚 GMR Notes Hub</h1>
<p style="text-align:center; opacity:0.8;">
Centralized platform for sharing academic notes
</p>

<h2 class="section-title">Select Your Branch</h2>
<div class="grid">
    <a href="/branch/CSE" class="card">CSE</a>
    <a href="/branch/ECE" class="card">ECE</a>
    <a href="/branch/EEE" class="card">EEE</a>
    <a href="/branch/MECH" class="card">MECH</a>
    <a href="/branch/CIVIL" class="card">CIVIL</a>
    <a href="/branch/IT" class="card">IT</a>
</div>

{% endblock %}