{% extends "base.html" %}
{% block content %}

<h2>{{ subject }} Notes</h2>

{% if notes %}
    <div class="grid">
    {% for note in notes %}
        <div class="card">
            <h4>{{ note[0] }}</h4>
            <a href="{{ note[1] }}" target="_blank">📥 Download</a>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No notes uploaded yet 😢</p>
    <p>You are the first to upload!</p>

    <a href="/upload?branch={{ branch }}&year={{ year }}&subject={{ subject }}">
        <button>Upload PDF</button>
    </a>
{% endif %}

{% endblock %}