{% extends "base.html" %}
{% block content %}

<div class="breadcrumb">
    <a href="/home">Home</a> >
    <a href="/branch/{{ branch }}">{{ branch }}</a> >
    <a href="/year/{{ branch }}/{{ year }}">Year {{ year }}</a> >
    <span>{{ subject }}</span>
</div>

<h2 class="section-title">{{ subject }} Notes</h2>

{% if notes %}
    {% for note in notes %}
        <div class="note-card">
    <h3>{{ note[0] }}</h3>

    <!-- PDF PREVIEW -->
    <iframe src="{{ note[1] }}" class="pdf-viewer"></iframe>
    <a href="/download/{{ note[2] }}">
    <button>📥 Download</button>
</a>
</div>
    {% endfor %}
{% else %}
    <div class="note-card">
        😢 No notes uploaded yet  
        <br><br>
        You can be the first to upload!
    </div>
{% endif %}

{% endblock %}