{% extends "base.html" %}
{% block content %}

<h2 class="section-title">Upload Notes</h2>

<div class="upload-container">
    <form method="POST" enctype="multipart/form-data"
          action="/upload?branch={{ branch }}&year={{ year }}&subject={{ subject }}"
          class="upload-box">

        <label>Title</label>
        <input type="text" name="title" required>

        <label>Branch</label>
        <input type="text" name="branch" value="{{ branch }}" readonly>

        <label>Year</label>
        <input type="text" name="year" value="{{ year }}" readonly>

        <label>Subject</label>
        <input type="text" name="subject" value="{{ subject }}" readonly>

        <label>Upload PDF</label>
        <input type="file" name="file" required>

        <button type="submit">Upload PDF</button>
    </form>
</div>

{% endblock %}