{% extends "base.html" %}
{% block content %}

<h2 class="section-title">📤 Upload Notes</h2>

<div class="upload-container">

<form method="POST" enctype="multipart/form-data" class="upload-box">

    <label>Title</label>
    <input type="text" name="title" required>

    <!-- FIX: hidden values -->
<input type="hidden" name="branch" value="{{ branch }}">
<input type="hidden" name="year" value="{{ year }}">
<input type="hidden" name="subject" value="{{ subject }}">

    <label>Upload PDF</label>
    <input type="file" name="file" accept="application/pdf" required>

    <button type="submit">🚀 Upload PDF</button>

</form>

</div>

{% endblock %}